.banner * { font-size: 12px; }
    
* { font-size: 14px; }
h1 { font-size: x-large; }
h2 { font-size: large; }
    
.navigation { display: none; }
.banner img { display: none; }
table { border-collapse: collapse; width: 100%; }
.banner h2, .banner h3 { display: none; }
th { width: 15em; }
td, th { text-align: left; vertical-align: top; border-bottom: thin dotted grey; }
.screen-only { display: none; }

.diarium {
    font-family: "Junicode";
}

.diarium .footnotes p:first-child {
    border-top: thin solid;
    margin: 0;
}

.diarium .footnotes p + p {
    margin: 0;
}

.diarium h2 {
    display: inline;
}

.diarium h2 + p {
    display: inline;
    margin-left: .5em;
}
