{% macro paginator(paginator) %}
    {% set pages = paginator.pages %}
    {% set query = global.request.query %}
    {% set route = global.request.get('_route') %}
    <ul class="pagination">
        {% for page in pages.visible %}
            {% if page == pages.current %}
                <li class="active">
                    <span>
                        {{ page }}
                    </span>
                </li>
            {% else %}
                <li>
                    <a href="{{ path(route, query|merge({page: page})) }}">[{{ page }}]</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endmacro %}
